%legend= "Listing #{@city.name} hotels"
= link_to 'De-duplicated', de_duplicated_records_duplicate_hotel_records_path(city_id: @city.id), remote: true, class: 'duplicate-links btn btn-primary btn-xs'
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Hotel Name
      %th
        Source
        = link_to unmatched_city_hotels_path(source: get_source(params[:source])) do
          %span.glyphicon.glyphicon-retweet
      %th Potential Duplicates
      -#%th Reasons
      %th Actions
  %tbody
    - unless params[:source] == 'yatra'
      = render 'hotels/shared/list_cleartrip_hotels'
    - else
      = render 'hotels/shared/list_yatra_hotels'


.apple_pagination
  = will_paginate @hotels, container: false